In [2]:
# -*- coding: utf-8 -*-

import pprint as pp
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import vincent
from geolocation.google_maps import GoogleMaps

%matplotlib inline

In [3]:
"""
In light of recent events of police violence in Baltimore, Ferguson, and Cleveland, many factors seem to influence the outcome 
of civilian interaction with law enforcement. I would like to investigate the relationship between each
of these examples as a potential insight into class dynamics interacting with policing.
*Unfortunately I could only find public data sets regarding county information rather than city so the results will reflect that*
"""

'\nIn light of recent events of police violence in Baltimore, Ferguson, and Cleveland, many factors seem to influence the outcome \nof civilian interaction with law enforcement. I would like to investigate the relationship between each\nof these examples as a potential insight into class dynamics interacting with policing.\n*Unfortunately I could only find public data sets regarding county information rather than city so the results will reflect that*\n'

In [4]:
# URL source = http://www.census.gov/did/www/saipe/data/interactive/cedr/cdr.html?s_appName=saipe&map_yearSelector=2013&map_geoSelector=aa_c&menu=grid_proxy
# SMALL AREA INCOME AND POVERTY ESTIMATES in 2013

inFile = "data.csv" #downloaded
df = pd.read_csv(inFile)

df_work = df[["Year", "State", "State / County Name", "All Ages in Poverty Percent", "Median Household Income in Dollars"]]
df_work.columns = ["Year", "State", "County_Name", "Poverty_Percentage", "Median_Household_Income_in_Dollars" ]
df_work

,Year,State,County_Name,Poverty_Percentage,Median_Household_Income_in_Dollars
0,2013,0,United States,15.8,"$52,250"
1,2013,1,Alabama,18.9,"$42,882"
2,2013,1,Autauga County,13.5,"$51,868"
3,2013,1,Baldwin County,14.2,"$47,539"
4,2013,1,Barbour County,28.2,"$30,981"
5,2013,1,Bibb County,23.1,"$39,781"
6,2013,1,Blount County,17.2,"$44,392"
7,2013,1,Bullock County,35.2,"$25,937"
8,2013,1,Butler County,28.8,"$31,041"
9,2013,1,Calhoun County,21.4,"$37,898"
10,2013,1,Chambers County,22.5,"$33,883"
11,2013,1,Cherokee County,20.1,"$37,478"
12,2013,1,Chilton County,20.3,"$41,348"
13,2013,1,Choctaw County,22.4,"$33,581"
14,2013,1,Clarke County,25.4,"$34,593"
15,2013,1,Clay County,19.6,"$33,344"
16,2013,1,Cleburne County,18.9,"$40,407"
17,2013,1,Coffee County,18.5,"$44,666"
18,2013,1,Colbert County,16.3,"$40,032"
19,2013,1,Conecuh County,30.5,"$27,196"
20,2013,1,Coosa County,19.9,"$35,175"
21,2013,1,Covington County,19.2,"$35,187"
22,2013,1,Crenshaw County,22.2,"$34,105"
23,2013,1,Cullman County,16.4,"$40,142"
24,2013,1,Dale County,20.1,"$41,805"
25,2013,1,Dallas County,31.3,"$27,524"
26,2013,1,DeKalb County,20.0,"$36,713"
27,2013,1,Elmore County,13.4,"$51,650"
28,2013,1,Escambia County,27.8,"$33,455"
29,2013,1,Etowah County,19.6,"$38,587"
...,...,...,...,...,...
3165,2013,55,Washington County,7.0,"$67,276"
3166,2013,55,Waukesha County,5.8,"$75,652"
3167,2013,55,Waupaca County,12.3,"$48,056"
3168,2013,55,Waushara County,13.1,"$43,175"
3169,2013,55,Winnebago County,12.6,"$50,469"
3170,2013,55,Wood County,11.7,"$48,723"
3171,2013,56,Wyoming,10.9,"$58,424"
3172,2013,56,Albany County,20.2,"$42,443"
3173,2013,56,Big Horn County,11.2,"$49,052"
3174,2013,56,Campbell County,7.5,"$81,652"
3175,2013,56,Carbon County,14.2,"$54,210"
3176,2013,56,Converse County,9.4,"$62,438"
3177,2013,56,Crook County,7.8,"$59,490"
3178,2013,56,Fremont County,15.3,"$51,920"
3179,2013,56,Goshen County,16.3,"$43,311"
3180,2013,56,Hot Springs County,12.5,"$42,694"
3181,2013,56,Johnson County,8.7,"$51,521"
3182,2013,56,Laramie County,10.2,"$59,712"
3183,2013,56,Lincoln County,8.9,"$67,256"
3184,2013,56,Natrona County,10.1,"$57,701"
3185,2013,56,Niobrara County,15.0,"$43,994"
3186,2013,56,Park County,10.0,"$50,967"
3187,2013,56,Platte County,10.9,"$48,621"
3188,2013,56,Sheridan County,10.1,"$51,628"
3189,2013,56,Sublette County,6.3,"$74,951"
3190,2013,56,Sweetwater County,8.7,"$72,899"
3191,2013,56,Teton County,7.7,"$70,201"
3192,2013,56,Uinta County,12.0,"$60,953"
3193,2013,56,Washakie County,11.3,"$50,740"
3194,2013,56,Weston County,9.9,"$59,314"

In [5]:
# state numeric codes

def remove_quotes(string):
    """Removes extraneous quotes"""
    quotes = ["'","\""]
    characters = list(string)
    for char in characters:
        if char in quotes:
            characters.remove(char)
    joined = "".join(characters)
    return joined

def remove_lead0s(string_code):
    """Removes leading 0s"""
    characters = list(string_code)
    if characters[0] == "0":
        characters.remove(characters[0])
    number = "".join(characters)
    return number
        
def state_numeric_codes(inFile):
    """Creates a dictionary to reference states by their federal numeric code according to the inFile"""
    with open(inFile, "r") as csvfile: 
        state_code_dict = {}
        descr = csvfile.readline()

        while descr != "":
            split_descr = descr.split(",")

            if len(split_descr) >= 3:
                state_name = split_descr[3]
                state_code = split_descr[1]

                new_name = remove_quotes(state_name)
                code = remove_quotes(state_code)
                new_code = remove_lead0s(code)

                state = state_name.split()
                if len(state) == 1:
                    state_code_dict[new_name] = int(new_code)
            descr = csvfile.readline()
        
    return state_code_dict

# store function as variable
state_numeric_codes = state_numeric_codes(inFile)

In [6]:
# location research

def county_finder(address):
    """Finds county according to input address"""
    API_KEY = "AIzaSyDg_eQsP4a0wjWt-Fy0fZH5gvVc9o5ZxCg"

    google_maps = GoogleMaps(api_key=API_KEY)
    # sends search to Google Maps
    location = google_maps.search(location=address)
    user_location = location.first()

    areas = [administrative_area.name for administrative_area in user_location.administrative_area]
    area_admin_types = [administrative_area.area_type for administrative_area in user_location.administrative_area]

    A = (dict(zip(area_admin_types, areas)))
    # level 2 = county
    county = A["administrative_area_level_2"]
    county = county.decode("utf-8")

    return county

def state_finder(address):
    """Finds state according to input address"""
    API_KEY = "AIzaSyDg_eQsP4a0wjWt-Fy0fZH5gvVc9o5ZxCg"

    google_maps = GoogleMaps(api_key=API_KEY)
    # sends search to Google Maps
    location = google_maps.search(location=address)
    user_location = location.first()

    areas = [administrative_area.name for administrative_area in user_location.administrative_area]
    area_admin_types = [administrative_area.area_type for administrative_area in user_location.administrative_area]

    A = (dict(zip(area_admin_types, areas)))
    # level 1 = state
    state = A["administrative_area_level_1"]
    state = state.decode("utf-8")

    return state

def lat_long_coords(address):
    """Finds lat & long coordinates according to input address"""
    API_KEY = "AIzaSyDg_eQsP4a0wjWt-Fy0fZH5gvVc9o5ZxCg"

    google_maps = GoogleMaps(api_key=API_KEY)
    # sends search to Google Maps
    location = google_maps.search(location=address)
    user_location = location.first()

    latitude = user_location.lat
    longitude = user_location.lng
    coordinates = [latitude, longitude]

    return coordinates

In [7]:
# AREA INFORMATION

BALTIMORE_ADDRESS = "Baltimore, MD 21030" # Freddie Gray

baltimore_state = state_finder(BALTIMORE_ADDRESS)
baltimore_county = county_finder(BALTIMORE_ADDRESS)
baltimore_coords = lat_long_coords(BALTIMORE_ADDRESS)
maryland_code = state_numeric_codes[baltimore_state]

print(BALTIMORE_ADDRESS)
pp.pprint(baltimore_state + " (" + str(maryland_code) + ")" + ", " + baltimore_county)
print("coordinates:", baltimore_coords, "\n")

FERGUSON_ADDRESS = "Ferguson, MO 63135" # Mike Brown

ferguson_state = state_finder(FERGUSON_ADDRESS)
ferguson_county = county_finder(FERGUSON_ADDRESS)
ferguson_coords = lat_long_coords(FERGUSON_ADDRESS)
missouri_code = state_numeric_codes[ferguson_state]

print(FERGUSON_ADDRESS)
pp.pprint(ferguson_state + " (" + str(missouri_code) + ")" + ", " + ferguson_county)
print("coordinates:", ferguson_coords, "\n")

CLEVELAND_ADDRESS = "Cleveland, OH 44101" # Tamir Rice

cleveland_state = state_finder(CLEVELAND_ADDRESS)
cleveland_county = county_finder(CLEVELAND_ADDRESS)
cleveland_coords = lat_long_coords(CLEVELAND_ADDRESS)
ohio_code = state_numeric_codes[cleveland_state]

print(CLEVELAND_ADDRESS)
pp.pprint(cleveland_state + " (" + str(ohio_code) + ")" + ", " + cleveland_county)
print("coordinates:", cleveland_coords, "\n")

Baltimore, MD 21030
'Maryland (24), Baltimore County'
coordinates: [39.5116069, -76.6990172]

Ferguson, MO 63135
'Missouri (29), St. Louis County'
coordinates: [38.7469318, -90.2901815]

Cleveland, OH 44101
'Ohio (39), Cuyahoga County'
coordinates: [41.4908027, -81.6726759]

In [9]:
# HOUSEHOLD INCOMES & POVERTY PERCENTAGES

# Baltimore
df_maryland = df_work[(df.State == maryland_code)]
idx = df_maryland.query("County_Name == 'Baltimore County'").index.tolist()

income_str = df_maryland["Median_Household_Income_in_Dollars"][idx]
income_str = "".join(income_str)

# convert to int
mny_chars = ["$",","]

splt = list(income_str)
for char in splt:
    if char in mny_chars:
        splt.remove(char)
income = int("".join(splt))

baltimore_income = income
percent_frame = df_maryland["Poverty_Percentage"][idx]
baltimore_percent = float(percent_frame)

print("%s's County Median Household Income: $" % ("BALTIMORE") + str(baltimore_income))
print("%s's County Population Percentage in Poverty: %%" % ("BALTIMORE") + str(baltimore_percent) + "\n")

#*************************************************************************************************************************#
# Ferguson
df_missouri = df_work[(df.State == missouri_code)]
idx = df_missouri.query("County_Name == 'St. Louis County'").index.tolist()

income_str = df_missouri["Median_Household_Income_in_Dollars"][idx]
income_str = "".join(income_str)

# convert to int
mny_chars = ["$",","]

splt = list(income_str)
for char in splt:
    if char in mny_chars:
        splt.remove(char)
income = int("".join(splt))

ferguson_income = income
percent_frame = df_missouri["Poverty_Percentage"][idx]
ferguson_percent = float(percent_frame)

print("%s's County Median Household Income: $" % ("FERGUSON") + str(ferguson_income))
print("%s's County Population Percentage in Poverty: %%" % ("FERGUSON") + str(ferguson_percent) + "\n")

#*************************************************************************************************************************#
# Cleveland
df_ohio = df_work[(df.State == ohio_code)]
idx = df_ohio.query("County_Name == 'Cuyahoga County'").index.tolist()

income_str = df_ohio["Median_Household_Income_in_Dollars"][idx]
income_str = "".join(income_str)

# convert to int
mny_chars = ["$",","]

splt = list(income_str)
for char in splt:
    if char in mny_chars:
        splt.remove(char)
income = int("".join(splt))

cleveland_income = income
percent_frame = df_ohio["Poverty_Percentage"][idx]
cleveland_percent = float(percent_frame)

print("%s's County Median Household Income: $" % ("CLEVELAND") + str(cleveland_income))
print("%s's County Population Percentage in Poverty: %%" % ("CLEVELAND") + str(cleveland_percent) + "\n")

BALTIMORE's County Median Household Income: $64624
BALTIMORE's County Population Percentage in Poverty: %9.5

FERGUSON's County Median Household Income: $59284
FERGUSON's County Population Percentage in Poverty: %10.9

CLEVELAND's County Median Household Income: $43653
CLEVELAND's County Population Percentage in Poverty: %19.2

In [10]:
print(df_maryland.query("County_Name == 'Baltimore County'"))
print("\n")

print(df_missouri.query("County_Name == 'St. Louis County'"))
print("\n")

print(df_ohio.query("County_Name == 'Cuyahoga County'"))
print("\n")

      Year  State       County_Name  Poverty_Percentage  \
1217  2013     24  Baltimore County                 9.5

     Median_Household_Income_in_Dollars
1217                            $64,624


      Year  State       County_Name  Poverty_Percentage  \
1605  2013     29  St. Louis County                10.9

     Median_Household_Income_in_Dollars
1605                            $59,284


      Year  State      County_Name  Poverty_Percentage  \
2097  2013     39  Cuyahoga County                19.2

     Median_Household_Income_in_Dollars
2097                            $43,653

In [11]:
cities = ["Baltimore", "Ferguson", "Cleveland"]
counties = [baltimore_county, ferguson_county, cleveland_county]
incomes = [baltimore_income, ferguson_income, cleveland_income]
percentages = [baltimore_percent, ferguson_percent, cleveland_percent]

i = {"City": pd.Series(cities), "County": pd.Series(counties), "Household Median Income": pd.Series(incomes), "Percentage of Population in Poverty": pd.Series(percentages)}
df_main = pd.DataFrame(i)

df_main

,City,County,Household Median Income,Percentage of Population in Poverty
0,Baltimore,Baltimore County,64624,9.5
1,Ferguson,St. Louis County,59284,10.9
2,Cleveland,Cuyahoga County,43653,19.2

In [ ]:
ax = df_main[["County","Household Median Income"]].plot(kind='bar', title ="Household Median Income",figsize=(15,10),use_index=False)
ax.set_xlabel("County")
ax.set_ylabel("Income (in dollars)")
ax.plot()

ax2 = df_main[["County","Percentage of Population in Poverty"]].plot(kind='bar', title ="Poverty Percentages",figsize=(15,10),use_index=False)
ax2.set_xlabel("County")
ax2.set_ylabel("Population in Poverty (%)")
ax2.plot()

In [20]:
vincent.core.initialize_notebook()

world_topo = r'https://github.com/trifacta/vega/blob/gh-pages/data/world-countries.json'
state_topo = r'https://github.com/trifacta/vega/blob/gh-pages/data/us-states.json'
county_geo = r'https://github.com/trifacta/vega/blob/gh-pages/data/us-counties.json'
county_topo = r'https://github.com/trifacta/vega/blob/gh-pages/data/us-counties.json'

geo_data = [{'name': 'counties',
             'url': county_topo,
             'feature': 'us_counties.geo'},
            {'name': 'states',
             'url': state_topo,
             'feature': 'us_states.geo'}
             ]

vis = vincent.Map(geo_data=geo_data, scale=1000, projection='albersUsa')
del vis.marks[1].properties.update
vis.marks[0].properties.update.fill.value = '#084081'
vis.marks[1].properties.enter.stroke.value = '#fff'
vis.marks[0].properties.enter.stroke.value = '#7bccc4'
vis.to_json('vega.json')

vis.display()